* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec1 {
    background-color: #B4D0E7;
}

.container {
    display: block;
    max-width: 920px;
    position: relative;
    top: 6rem;
    margin: auto;


}

header {
    background-color: #B4D0E7;

}

nav {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;


}

.link-container ul { 
    font-size: 1rem;
    display: flex;
    list-style: none;
    column-gap: 2rem;
}

.hvr-li:hover {
    background-color: rgb(3, 184, 145);
    color: white;
    border: 1px solid rgb(97, 96, 96);
    padding: 0.2rem 0.2rem;
}

.link-container-1 ul {
    margin-left: 610px;
    font-size: 1rem;
    display: flex;
    list-style: none;
    column-gap: 2rem;
}

.start-container button {
    background-color: blue;
    color: white;
    border-style: none;
    padding: 0.5rem 1rem;
    font-weight: bolder;

}

.start-container {
    margin-right: 1rem;
}

.start-container button:hover {
    background-color: rgb(3, 184, 145);
    ;
}


.title1 {

    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.row {
    display: flex;
}

.img1 {
    width: 150%;
}

.par1 {
    margin-bottom: 1rem;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;
}

.hr-btn button {
    background-color: blue;
    color: white;
    border-style: none;
    padding: 1rem 1rem;
    font-weight: bolder;

}

.hr-btn button:hover {
    background-color: rgb(3, 184, 145);
    ;
}

.p4 {
    text-align: center;
    margin: 1rem 0;
}
.sec2{
    margin: auto;
    max-width: 720px;
    padding-top:120px ;
    
}
.title2 {

    text-align: center;
    margin-bottom: 2rem; 
}
.row1 {
    display: flex;

   justify-content:space-around ;
    padding-top: 4rem;
   text-align: center;
    width: calc(100% / 3);
}
.col1{
    ;
border-color: aqua;
}
.col2{
    border-color: aqua; 
}
.col3{
    border-color: aqua;
}