* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec1 {
    background-color: #B4D0E7;
}

.container {
    display: block;
    max-width: 920px;
    position: relative;
    top: 6rem;
    margin: auto;


}

header {
    background-color: #B4D0E7;

}

nav {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    border-bottom: 2px solid blue;


}

.link-container ul {
    font-size: 1rem;
    display: flex;
    list-style: none;
    column-gap: 2rem;
}

.hvr-li:hover {
    background-color: rgb(3, 184, 145);
    color: white;
    border: 1px solid rgb(145, 141, 141);
    padding: 0.2rem 0.2rem;
}

.link-container-1 ul {
    margin-left: 610px;
    font-size: 1rem;
    display: flex;
    list-style: none;
    column-gap: 2rem;
}

.start-container button {
    background-color: blue;
    color: white;
    border-style: none;
    padding: 0.5rem 1rem;
    font-weight: bolder;

}

.start-container {
    margin-right: 1rem;
}

.start-container button:hover {
    background-color: rgb(3, 184, 145);
    border: 1px solid rgb(145, 141, 141);
}


.title1 {

    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.row {
    display: flex;
}

.img1 {
    width: 150%;
}

.par1 {
    margin-bottom: 1rem;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;
}

.hr-btn button {
    background-color: blue;
    color: white;
    border-style: none;
    padding: 1.2rem 1rem;
    font-weight: bolder;

}

.hr-btn button:hover {
    background-color: rgb(3, 184, 145);
    border: 1px solid rgb(145, 141, 141);
}

.p4 {
    text-align: center;
    margin: 1rem 0;
}

.sec2 {
    margin: auto;
    max-width: 820px;
    padding-top: 120px;

}

.title2 {

    text-align: center;
    margin: 3rem 0;
}

.row1 {

    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
    padding-top: 4rem;
    width: calc(100% / 3);
}

.col1 {
    height: 800px;
    padding: 0 2rem;
    border: 1px solid #dcdcdd;
}


.user {
    display: flex;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem 5rem;

}

h6 {
    color: #bdbdc2;
}

.ul-sec2 {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;


}

.sec2-btn {
    padding: 1.5rem 0;
}

.sec2-btn button {
    background-color: blue;
    color: white;
    border-style: none;
    padding: 1rem 1.5rem;
    font-weight: bolder;

}

.sec2-btn button:hover {
    background-color: rgb(3, 184, 145);
    border: 1px solid rgb(145, 141, 141);
}
.row2 {
    width: 960px;
    padding: 3rem 0;
    height: 300px;
}
.sec2-rw1 {
    text-align: center;
    padding: 1rem ;
    border: 1px solid #dcdcdd;
}
.sec2-rw2 {
    height:210px;
   display: flex;
   justify-content: space-between;
    padding: 0.5rem 2rem;
    border: 1px solid #dcdcdd;
}
.sec2-rw3 {
    flex-basis: 70%;
     padding: 2rem 2rem;
    
 }
 .img2 {
    width: 100%;
}
.sec3-rw1 {
    flex-basis: 80%;
     padding: 1rem 2rem;
    
 }
 .par1-sec3 {
  
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;

}
.sec3-btn {
    padding: 1rem 0;
}

.sec3-btn button {
    color: black;
   background-color: white;
    padding: 1rem 1rem;
    font-weight: bolder;

}

.sec3-btn button:hover {
    background-color: rgb(3, 184, 145);
    border: 1px solid rgb(145, 141, 141);
    color: white;
}
.card{
   
    
    display: flex;
   
    justify-content: space-between;
    column-gap: 3rem;
    padding-top: 4rem;
    width: calc(100% / 3);
}
